{% extends 'base.html.twig' %}

{% block title %}Lista de Juegos{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Lista de Juegos</h1>

    <div class="mb-3">
        <a href="{{ path('game_new') }}" class="btn btn-primary">Crear Nuevo Juego</a>
    </div>

    <div class="row">
        {% for game in games %}
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Juego #{{ game.id }}</h5>
                        <p class="card-text">
                            Estado: {{ game.status }}<br>
                            Jugador 1: {{ game.player1.username }}<br>
                            {% if game.player2 %}
                                Jugador 2: {{ game.player2.username }}
                            {% else %}
                                Esperando jugador 2
                            {% endif %}
                        </p>
                        <a href="{{ path('game_show', {'id': game.id}) }}" class="btn btn-info">Ver Detalles</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p>No hay juegos disponibles.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 